* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Roboto Slab', serif;
}




/* SEZIONI SCARPE */
div {
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}


h1 {
    font-size: 50px;
    font-weight: 900;
    word-spacing: 20px;
}

.container {
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container img {
    max-width:100%;
    max-height:100%;
}

#scarpe1 {
    background-color: #F00;
    color: #FF0;
}

#scarpe2 {
    background-color: #008000;
    color: #FF0;
}

#scarpe3 {
    background-color: #FF0;
    color: #008000;
}