* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
}

body {
    background-color: #FFF;
    font-family: 'Roboto Slab', serif;
}

/* MENÙ */
nav {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 999;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li {
    display: inline-block;
    margin: 0 20px;
}

nav > ul > li > a {
    display: inline-block;
    height: 44px;
    width: 44px;
    padding: 8px;
    text-align: center;
    background-color: #FFF;
    border-radius: 50%;
    font-size: 22px;
    color: #000;
    text-decoration: none;
    font-weight: 900;
    box-shadow: 0 3px 5px #808080;
}

/* SEZIONI SCARPE */
div {
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    scroll-snap-align: start;
}


h1 {
    font-size: 50px;
    font-weight: 900;
    word-spacing: 20px;
}

.container {
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container img {
    max-width:100%;
    max-height:100%;
}

#scarpe1 {
    background-color: #F00;
    color: #FF0;
}

#scarpe2 {
    background-color: #008000;
    color: #FF0;
}

#scarpe3 {
    background-color: #FF0;
    color: #008000;
}